<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" href="images/favicon.ico" />
        <meta charset="UTF-8">

        <title>{{TitleHeader}}</title>
    </head>

    <body>
        <div class ="page-header">
             <img src="{% static 'images/Logo.png' %}" style="width:130px;height:80px;">
             <div class="field" id="searchform">
                 <input type="text" id="searchterm" placeholder="what are you searching for?" />
                 <button type="button" id="search">Find!</button>
            </div>
             <div class="close-image">
                 <img src="{% static 'images/Carrito.png' %}" style="width:70px;height:70px;top:-5px;right:-10px;">
             </div>
             <div class="close-image">
                 <a href="a la view de log-in">
                 <img src="{% static 'images/Login.png' %}" style="width:70px;height:70px;top:-15px;right:10px;">
                 </a>
             </div>
        </div>

        <div class ="page-title">
            <h2><strong>{{PageTitle}}</strong></h2>
        </div>
        <hr>

        {% block content %}
        {% endblock %}

    </body>
</html>