{% extends 'base.html' %}
{% block content %}
    <div id="company_profile">
        <table>
            <tr>
                <td colspan="2">
                    <label>
                        Basic
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        User name :
                    </label>
                </td>
                <td>
                    <label>
                        {{ username }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Email :
                    </label>
                </td>
                <td>
                    <label>
                        {{ email }}
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>
                        User information
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Country :
                    </label>
                </td>
                <td>
                    <label>
                        {{ country }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Province :
                    </label>
                </td>
                <td>
                    <label>
                        {{ province }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        City :
                    </label>
                </td>
                <td>
                    <label>
                        {{ city }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Zip code :
                    </label>
                </td>
                <td>
                    <label>
                        {{ zip_code }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Street :
                    </label>
                </td>
                <td>
                    <label>
                        {{ street }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Phone :
                    </label>
                </td>
                <td>
                    <label>
                        {{ phone }}
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>
                        Company information
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        CIF :
                    </label>
                </td>
                <td>
                    <label>
                        {{ cif }}
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="{% url 'modify_company' %}">
                        <button>
                            Modify
                        </button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}