{% extends 'base.html' %}
{% block content %}
    <div id="person_profile">
        <table align="left">
            <tr>
                <td colspan="2">
                    <h3>
                        Basic information
                    </h3>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        User name :
                    </label>
                </td>
                <td>
                    <label>
                        {{ username }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Email :
                    </label>
                </td>
                <td>
                    <label>
                        {{ email }}
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>
                        User information
                    </h3>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Country :
                    </label>
                </td>
                <td>
                    <label>
                        {{ country }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Province :
                    </label>
                </td>
                <td>
                    <label>
                        {{ province }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        City :
                    </label>
                </td>
                <td>
                    <label>
                        {{ city }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Zip code :
                    </label>
                </td>
                <td>
                    <label>
                        {{ zip_code }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Street :
                    </label>
                </td>
                <td>
                    <label>
                        {{ street }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Phone :
                    </label>
                </td>
                <td>
                    <label>
                        {{ phone }}
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>
                        Categories
                    </h3>
                </td>
            </tr>
            {% for category_per_user in categories %}
                <tr>
                    <td>
                        {{ category_per_user.category }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <h3>
                        Personal information
                    </h3>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        DNI :
                    </label>
                </td>
                <td>
                    <label>
                        {{ dni }}
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="{% url 'modify_person' %}">
                        <button>
                            Modify
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <a class="btn btn-default" href="{% url 'sales_list' %}">My products</a>
            </tr>
        </table>
    </div>
{% endblock %}