{% extends 'base.html' %}
{% block content %}
    {% if not submitted %}
        <h2>Tell us your opinion about this product: {{ product.name }}</h2>
        <form action="#" method="post" id="opinion-form">
            {% csrf_token %}
            {{ opinion_form.as_p }}
            <p><input type="submit" value="Submit"/></p>
        </form>
    {% else %}
        <h2>Opinion correctly submitted</h2>
        <a href="{% url "sales_list" %}">Return to purchases list</a>
    {% endif %}
{% endblock %}