{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'process_client_JSON' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label>
                        Country :
                    </label>
                </td>
                <td>
                    <input type="text" id="country" name="country"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Province :
                    </label>
                </td>
                <td>
                    <input type="text" id="province" name="province"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        City :
                    </label>
                </td>
                <td>
                    <input type="text" id="city" name="city"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Categories
                    </label>
                </td>
                <td>
                    <fieldset>
                        <legend>
                            Please select one of the following
                        </legend>
                        {% for category in categories %}
                            <input type="radio" name="category" id="{{ category.id }}" value="{{ category.name }}"
                                   checked/>
                            <label for="{{ category.id }}">
                                {{ category.name }}
                            </label>
                        {% endfor %}
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Apply"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}