{% extends 'base.html' %}
{% block content %}
    <div>
        <ul style="text-align: left">
            <h3>Best Buyers</h3>
            {% for buyer in top_buyers %}
                <li>{{ buyer }}</li>
            {% endfor %}
        </ul>
        <ul style="text-align: left">
            <h3>Best Products</h3>
            {% for product in top_products %}
                <li>{{ product }}</li>
            {% endfor %}
        </ul>
        <ul style="text-align: left">
            <h3>Worst Products</h3>
            {% for product in bot_products %}
                <li>{{ product }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}