{% extends 'base.html' %}
{% block content %}
    {% if not submitted %}
        <h2>Register an Incidence about the product: {{ product.name }}</h2>
        <form action="#" method="post">
            {% csrf_token %}
            {{ incidence_form.as_p }}
            <p>Please, select the motive of the incidence:</p>
            <p><label for="broken">The product arrived broken</label>
            <input type="radio" id="broken" name="category" value="The product arrived broken"></p>
            <p><label for="broken">Isn't what I expected</label>
            <input type="radio" id="not_expected" name="category" value="Isn't what I expected"></p>
            <p><label for="broken">he product broke before the end of the warranty</label>
            <input type="radio" id="early_break" name="category" value="The product broke before the end of the warranty"></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    {% else %}
        <h2>Incidence correctly submitted</h2>
        <a href="{% url "sales_list" %}">Return to purchases list</a>
    {% endif %}
{% endblock %}